   html,
   body {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
   }
   
   #map-canvas {
     height: 100%;
     position: relative;
   }
   
   .listOfAllPlaces {
     background-color: #eee;
     margin-left: 1em;
     width: 25%;
     top: 250px;
     position: absolute;
     color: #000;
     font-size: 1.1em;
   }
   
   .list-item {
     display: block;
     color: #000;
     text-decoration: none;
     border-bottom: 1px dotted #000;
     margin-left: -30px;
     margin-right: 10px;
     text-align: center;
     line-height: 2.2em;
     font-size: 1em;
   }