   html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

#map-canvas {
  margin-top: 20px;
/*  margin-bottom: -10px;*/
}

#pac-input {
  position: absolute;
  top: 0px;
  left: 400px;
  width: 280px;
  padding: 0.9em;
  bottom: 0px;
}